<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Welcome to Sticky note application. Below are the REST APIs
<ul>
    <li>
        GET(/notes) : Returns all notes
    </li>
    <li>
        GET(/note/{noteId}) : Returns note by id
    </li>
    <li>
        POST(/note) : Add a new note
    </li>
    <li>
        PUT(/note/{noteId}) : Update the note
    </li>
    <li>
        DELETE(/note/{noteId}) : Delete a note
    </li>
</ul>

</body>
</html>
